#forecast-section {
  width: 90%;
  flex: 1;
}

#forecast-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 12px;
}

#forecast-header {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.514);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 2px;
  color: white;
  text-shadow: 1px 1px black;
}

#forecast-header > div {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  padding: 8px;
  transition: background-color 150ms;
  letter-spacing: 1px;
}

#forecast-header > div:first-child {
  border-radius: 2px 0 0 2px;
  border-right: 1px solid rgb(171, 171, 171);
}

#forecast-header > div.active {
  background-color: rgba(0, 0, 0, 0.371);
}

.forecast-days,
.forecast-hours {
  display: none;
}

.forecast.active {
  display: flex;
  gap: 24px;
}

.forecast-hours {
  height: 100%;
}

.forecast-days > div {
  flex: 1;
  color: white;
  padding: 8px;
  border-radius: 1px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgba(128, 128, 128, 0.44);
}

.day {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.6rem;
  padding: 0;
  text-shadow: 2px 2px black;
  margin-bottom: 8px;
}

.max,
.min {
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  margin-left: 4px;
}

.max {
  font-size: 1.35rem;
  margin-bottom: 6px;
  font-weight: bold;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slides {
  display: flex;
}

.slide {
  display: flex;
  min-width: 100%;
  position: absolute;
  gap: 24px;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.hour {
  flex: 1;
  color: white;
  padding: 8px;
  border-radius: 1px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgba(128, 128, 128, 0.44);
  height: 192px;
}

.hour > img {
  width: 64px;
  height: 64px;
}

.hour .time {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
  margin-bottom: 8px;
}

.hour .temperature {
  font-size: 1.8rem;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
  margin-bottom: 12px;
  margin-top: 6px;
  font-weight: 500;
}

.prev,
.next {
  position: absolute;
  top: 65%;
  background-color: rgba(128, 128, 128, 0.65);
  border: none;
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 150ms;
}

.prev:hover,
.next:hover {
  background-color: rgba(128, 128, 128, 0.9);
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}
