*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

input {
  outline: none;
  border: none;
  background-color: gray;
}
